body {
    background-image:url("Images/Wending Logo.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

.BtnPos1 {
    color: white;
    background-color: green;
    float: right;
}

.BtnPos2 {
    color:white;
    background-color:green;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.BoksPos1 {
    display:block;
    margin:auto;
    text-align:center;
    font-size:medium;
    position:relative;
    top:5px;
    /*left:-10px;*/
    width:400px;

}
.BoksPos2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    width:150px;
    
}
.BoksPos3 {
    display: block;
    position: relative;
    width: 154px;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    height: 22px;
    top: 8px;
    left: 78px;
}