body {
}

.BtnPos1 {
    color: white;
    background-color: green;
    float: right;
}

.BtnPos2 {
    color:white;
    background-color:green;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.BoksPos1 {
    display:block;
    margin:auto;
    text-align:center;
    font-size:medium;
    position:relative;
    top:5px;
    left:-10px;
    width:500px;

}
.BoksPos2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    
}