body {
}

.BtnPos1 {
    color: white;
    background-color: green;
    float: right;
}

.BtnPos2 {
    color:white;
    background-color:green;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.BoksPos1 {
    display:block;
    margin:auto;
    text-align:center;
    font-size:medium;
    position:relative;
    top:5px;
    /*left:-10px;*/
    width:400px;

}
.BoksPos2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    
}
.BoksPos3 {
    display: block;
    position: relative;
    width: 140px;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    height: 20px;
    top: 8px;
    z-index: 1000;
    left: 78px;
}