body {
    background-image:url("Images/Wending Logo.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    margin: 0 0 100px; 
    bottom:10%;

}

.Velkomst-style {
    display:block;
    margin:0 auto;
    text-align:center;
    font-size:x-large;
    position:relative;
    top:5px;
    left:-10px;
}

.BtnPos {
    color:white;
    background-color:green;
    float:right;
    /*position:relative;
    left:10px;
    top:5px;*/
}



.Info-style {
    color:black;
    font-family:Calibri;
    font-style:italic;
    margin-top:7%;
    float:left;
    position:relative;
    left:10px;

}

.Medarbejder-style {
    color:black;
    font-family:Calibri;
    font-style:normal;
    margin-top:7%;
    float:right;
    position:relative;
    right:10px;
    
}

.Adress-style {
    color:white;
    font-family:Calibri;
    font-style:normal;
    /*display:block;
    margin:0 auto;
    text-align:left;*/
    float:left;
    position:relative;
    left:10px;
    top:3px;
    
}
.Mail-syle {
    color:white;
    font-family:Calibri;
    font-style:normal;
    /*display:block;
    margin:0 auto;
    text-align:right;*/
    float:right;
    position:relative;
    right:10px;
    top:3px;
}

.Tlf-style {
    color:white;
    font-family:Calibri;
    font-style:normal;
    display:block;
    margin:0 auto;
    text-align:center;
    position:relative;
    top:3px;
}




.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color:green;
}